EXPO_PUBLIC_FIREBASE_API_KEY=your_api_key_here
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=safebite-f4915.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=safebite-f4915
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=safebite-f4915.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=856801488212
EXPO_PUBLIC_FIREBASE_APP_ID=1:856801488212:web:3ea2e0963649aca7ccecc1
EXPO_PUBLIC_FIREBASE_MEASUREMENT_ID=G-4P460XJ7P8
